In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../data/finaldf.csv')

In [2]:
#This DF has a lot of info we don't need. Now going to sort through it for what we need for our json

#LIST:
# title INSTNM
# tuition I have both instate and out of state.
# image IMG from test.py. merge later
# location STABBR + CITY + ZIP + Region?
# rating ?

In [4]:
# df.columns

Index(['Unnamed: 0', 'UNITID', 'INSTNM', 'CITY', 'STABBR', 'ZIP', 'REGION',
       'PREDDEG', 'LOCALE', 'LATITUDE', 'LONGITUDE', 'CCBASIC', 'CCUGPROF',
       'CCSIZSET', 'ADM_RATE_ALL', 'PPTUG_EF', 'SAT_AVG_ALL', 'COSTT4_A',
       'CONTROL', 'TUITIONFEE_IN', 'TUITIONFEE_OUT', 'MEDIAN_HH_INC',
       'MN_EARN_WNE_INDEP0_P10', 'MN_EARN_WNE_INDEP1_P10', 'UGDS_WHITE',
       'UGDS_BLACK', 'UGDS_HISP', 'UGDS_ASIAN', 'UGDS_AIAN', 'UGDS_NHPI',
       'UGDS_2MOR', 'UGDS_NRA', 'UGDS_UNKN'],
      dtype='object')

In [9]:
# df[df['INSTNM'] == 'College of Staten Island CUNY']

,Unnamed: 0,UNITID,INSTNM,CITY,STABBR,ZIP,REGION,PREDDEG,LOCALE,LATITUDE,...,MN_EARN_WNE_INDEP1_P10,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
2073,2073,190558,College of Staten Island CUNY,Staten Island,NY,10314,2,3,11.0,40.601831,...,52100,0.411,0.1556,0.2589,0.1188,0.0013,0.0018,0.0285,0.0242,0.0

In [12]:
# concat_cols = ['CITY','STABBR','ZIP']
# df['location'] = df[['CITY','STABBR','ZIP']].agg(' '.join, axis=1)

In [13]:
# df.head()

,Unnamed: 0,UNITID,INSTNM,CITY,STABBR,ZIP,REGION,PREDDEG,LOCALE,LATITUDE,...,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,location
0,0,100654,Alabama A & M University,Normal,AL,35762,5,3,12.0,34.783368,...,0.0184,0.8978,0.0114,0.0014,0.0027,0.0010,0.0108,0.0086,0.0479,Normal AL 35762
1,1,100663,University of Alabama at Birmingham,Birmingham,AL,35294-0110,5,3,12.0,33.505697,...,0.5297,0.2458,0.0669,0.0767,0.0021,0.0004,0.0483,0.0233,0.0068,Birmingham AL 35294-0110
2,2,100690,Amridge University,Montgomery,AL,36117-3553,5,3,12.0,32.362609,...,0.2470,0.6932,0.0438,0.0000,0.0000,0.0040,0.0000,0.0000,0.0120,Montgomery AL 36117-3553
3,3,100706,University of Alabama in Huntsville,Huntsville,AL,35899,5,3,12.0,34.724557,...,0.7196,0.0871,0.0610,0.0357,0.0080,0.0012,0.0446,0.0166,0.0261,Huntsville AL 35899
4,4,100724,Alabama State University,Montgomery,AL,36104-0271,5,3,12.0,32.364317,...,0.0152,0.9259,0.0129,0.0020,0.0017,0.0014,0.0132,0.0166,0.0112,Montgomery AL 36104-0271

In [14]:
# df['location']

0                Normal AL 35762
1       Birmingham AL 35294-0110
2       Montgomery AL 36117-3553
3            Huntsville AL 35899
4       Montgomery AL 36104-0271
                  ...
6538          York PA 17403-3326
6539       Malvern PA 19355-1488
6540    Middletown PA 17057-4846
6541         Media PA 19063-5522
6542       Medford NJ 08055-0000
Name: location, Length: 6543, dtype: object

In [15]:
# selected_columns = ['INSTNM', "TUITIONFEE_IN",'location']

In [16]:
# selectedColumnsdf = df[selected_columns]

In [17]:
# selectedColumnsdf.head()

,INSTNM,TUITIONFEE_IN,location
0,Alabama A & M University,10024.0,Normal AL 35762
1,University of Alabama at Birmingham,8568.0,Birmingham AL 35294-0110
2,Amridge University,NaN,Montgomery AL 36117-3553
3,University of Alabama in Huntsville,11488.0,Huntsville AL 35899
4,Alabama State University,11068.0,Montgomery AL 36104-0271

In [26]:
# selectedColumnsdf.rename(columns={"INSTNM": "title", "TUITIONFEE_IN": "tuition"}, inplace=True)

C:\Users\dsouz\AppData\Local\Temp\ipykernel_20328\2053249834.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selectedColumnsdf.rename(columns={"INSTNM": "title", "TUITIONFEE_IN": "tuition"}, inplace=True)

In [27]:
# selectedColumnsdf.head()

                                 title  tuition                  location
0             Alabama A & M University  10024.0           Normal AL 35762
1  University of Alabama at Birmingham   8568.0  Birmingham AL 35294-0110
2                   Amridge University      NaN  Montgomery AL 36117-3553
3  University of Alabama in Huntsville  11488.0       Huntsville AL 35899
4             Alabama State University  11068.0  Montgomery AL 36104-0271

In [33]:
# eee = selectedColumnsdf.dropna()

In [34]:
# selectedColumnsdf.shape

(6543, 3)

In [35]:
# eee.shape

(3787, 3)

In [36]:
eee.to_json('../data/schoolSchema.json')

In [37]:
eee.to_csv('../data/schoolSchema.csv')

In [38]:
eee['image'] = ''

C:\Users\dsouz\AppData\Local\Temp\ipykernel_20328\2554563061.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eee['image'] = ''

In [39]:
eee.head()

,title,tuition,location,image
0,Alabama A & M University,10024.0,Normal AL 35762,
1,University of Alabama at Birmingham,8568.0,Birmingham AL 35294-0110,
3,University of Alabama in Huntsville,11488.0,Huntsville AL 35899,
4,Alabama State University,11068.0,Montgomery AL 36104-0271,
5,The University of Alabama,11620.0,Tuscaloosa AL 35487-0100,

In [40]:
eee.to_json('../data/schoolSchema.json')
eee.to_csv('../data/schoolSchema.csv')