In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../data/finaldf.csv')

In [2]:
df.head()

,Unnamed: 0,UNITID,INSTNM,CITY,STABBR,ZIP,REGION,PREDDEG,LOCALE,LATITUDE,...,MN_EARN_WNE_INDEP1_P10,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
0,0,100654,Alabama A & M University,Normal,AL,35762,5,3,12.0,34.783368,...,38100,0.0184,0.8978,0.0114,0.0014,0.0027,0.0010,0.0108,0.0086,0.0479
1,1,100663,University of Alabama at Birmingham,Birmingham,AL,35294-0110,5,3,12.0,33.505697,...,56500,0.5297,0.2458,0.0669,0.0767,0.0021,0.0004,0.0483,0.0233,0.0068
2,2,100690,Amridge University,Montgomery,AL,36117-3553,5,3,12.0,32.362609,...,PrivacySuppressed,0.2470,0.6932,0.0438,0.0000,0.0000,0.0040,0.0000,0.0000,0.0120
3,3,100706,University of Alabama in Huntsville,Huntsville,AL,35899,5,3,12.0,34.724557,...,51900,0.7196,0.0871,0.0610,0.0357,0.0080,0.0012,0.0446,0.0166,0.0261
4,4,100724,Alabama State University,Montgomery,AL,36104-0271,5,3,12.0,32.364317,...,31900,0.0152,0.9259,0.0129,0.0020,0.0017,0.0014,0.0132,0.0166,0.0112

In [3]:
df.isna().sum()

Unnamed: 0                   0
UNITID                       0
INSTNM                       0
CITY                         0
STABBR                       0
ZIP                          0
REGION                       0
PREDDEG                      0
LOCALE                     497
LATITUDE                   497
LONGITUDE                  497
CCBASIC                    497
CCUGPROF                   497
CCSIZSET                   497
ADM_RATE_ALL              4319
PPTUG_EF                   800
SAT_AVG_ALL               5371
COSTT4_A                  3240
CONTROL                      0
TUITIONFEE_IN             2756
TUITIONFEE_OUT            2756
MEDIAN_HH_INC             1307
MN_EARN_WNE_INDEP0_P10    1118
MN_EARN_WNE_INDEP1_P10    1118
UGDS_WHITE                 774
UGDS_BLACK                 774
UGDS_HISP                  774
UGDS_ASIAN                 774
UGDS_AIAN                  774
UGDS_NHPI                  774
UGDS_2MOR                  774
UGDS_NRA                   774
UGDS_UNKN                  774
dtype: int64

In [4]:
#todo: Make json for database to work with