In [17]:
import pandas as pd
import numpy as np

df = pd.read_csv('../data/finaldf.csv')

In [2]:
# df.head()

In [18]:
# df.isna().sum()

Unnamed: 0                   0
UNITID                       0
INSTNM                       0
CITY                         0
STABBR                       0
ZIP                          0
REGION                       0
PREDDEG                      0
LOCALE                     497
LATITUDE                   497
LONGITUDE                  497
CCBASIC                    497
CCUGPROF                   497
CCSIZSET                   497
ADM_RATE_ALL              4319
PPTUG_EF                   800
SAT_AVG_ALL               5371
COSTT4_A                  3240
CONTROL                      0
TUITIONFEE_IN             2756
TUITIONFEE_OUT            2756
MEDIAN_HH_INC             1307
MN_EARN_WNE_INDEP0_P10    1118
MN_EARN_WNE_INDEP1_P10    1118
UGDS_WHITE                 774
UGDS_BLACK                 774
UGDS_HISP                  774
UGDS_ASIAN                 774
UGDS_AIAN                  774
UGDS_NHPI                  774
UGDS_2MOR                  774
UGDS_NRA                   774
UGDS_UNKN                  774
dtype: int64

In [4]:
#todo: Make json for database to work with

In [5]:

# df = pd.read_csv('../data/finaldf.csv')
# name_first_50 = df['INSTNM']
# namesDf = df['INSTNM']

In [6]:
# namesDf.to_csv(path_or_buf='names.csv', index=False)
# #Generates a csv that is ONLY INDEX | INSTNM

In [7]:
# df = pd.read_csv('../data/names.csv')

In [8]:
# df['IMG'] = str(" ")

In [9]:
# df.head()

In [10]:
# df.to_csv(path_or_buf='../data/names.csv', index=False)

Our current names.csv is one where we have INSTNM and IMG. Now use that to iterate and get images for colleges.

In [11]:
df = pd.read_csv('../data/names.csv')

In [12]:
df.head()

                                INSTNM IMG
0             Alabama A & M University
1  University of Alabama at Birmingham
2                   Amridge University
3  University of Alabama in Huntsville
4             Alabama State University

In [14]:
df['IMG'][1]

' '

In [15]:
undef_mask = df['IMG'] == ' '

In [16]:
df[undef_mask]

                                                 INSTNM IMG
0                              Alabama A & M University
1                   University of Alabama at Birmingham
2                                    Amridge University
3                   University of Alabama in Huntsville
4                              Alabama State University
...                                                 ...  ..
6538      Pennsylvania State University-Penn State York
6539  Pennsylvania State University-Penn State Great...
6540  Pennsylvania State University-Penn State Harri...
6541  Pennsylvania State University-Penn State Brand...
6542  Burlington County Institute of Technology - Ad...

[6543 rows x 2 columns]