In [38]:
import pandas as pd 
import numpy as np

In [39]:
df = pd.read_csv('../data/schoolSchema.csv')

In [40]:
df.shape
#df.drop('Unnamed: 0',axis=1,inplace=True)

(3787, 5)

In [41]:
df.head()

,title,tuition,location,image,rating
0,Alabama A & M University,10024.0,Normal AL 35762,NaN,0
1,University of Alabama at Birmingham,8568.0,Birmingham AL 35294-0110,NaN,0
2,University of Alabama in Huntsville,11488.0,Huntsville AL 35899,NaN,0
3,Alabama State University,11068.0,Montgomery AL 36104-0271,NaN,0
4,The University of Alabama,11620.0,Tuscaloosa AL 35487-0100,NaN,0

In [43]:
#Now fill with images that are == NaN that we have in our names.csv
imageDF = pd.read_csv('../image/names.csv')

In [44]:
imageDF[:-5]

,title,image
0,Bais Binyomin Academy,https://www.appily.com/themes/custom/fingerpri...
1,Vaughn College of Aeronautics and Technology,https://www.vaughn.edu/wp-content/uploads/2020...
2,Adelphi University,https://www.adelphi.edu/about/wp-content/uploa...
3,SUNY Adirondack,https://www.sunyacc.edu/sites/default/files/NS...
4,Bryant & Stratton College-Albany,https://www.bryantstratton.edu/~/media/images/...
...,...,...
308,Kansas State University,https://www.k-state.edu/admissions/images/visi...
309,University of South Carolina,https://www.sc.edu/imgs/background/background-...
310,University of Alabama at Birmingham,https://i.ytimg.com/vi/uy5oKsp1YpY/maxresdefau...
311,University of Hawaii at Manoa,https://upload.wikimedia.org/wikipedia/commons...
312,George Washington University,https://www.gwu.edu/sites/g/files/zaxdzs5066/f...

In [48]:
merged_df = pd.merge(imageDF, df, on='title', how='left')
#left join to keep our current schema

# merged_df['image_x'] = merged_df['image_y']

merged_df.drop('image_y',axis=1,inplace=True)

merged_df = merged_df.rename(columns={'image_x': 'image'})

In [49]:
merged_df.shape

(321, 5)

In [50]:
merged_df[:-1]

,title,image,tuition,location,rating
0,Bais Binyomin Academy,https://www.appily.com/themes/custom/fingerpri...,10050.0,Monsey NY 10952,0.0
1,Vaughn College of Aeronautics and Technology,https://www.vaughn.edu/wp-content/uploads/2020...,26150.0,Flushing NY 11369,0.0
2,Adelphi University,https://www.adelphi.edu/about/wp-content/uploa...,42475.0,Garden City NY 11530-0701,0.0
3,SUNY Adirondack,https://www.sunyacc.edu/sites/default/files/NS...,5784.0,Queensbury NY 12804,0.0
4,Bryant & Stratton College-Albany,https://www.bryantstratton.edu/~/media/images/...,18356.0,Albany NY 12205,0.0
...,...,...,...,...,...
315,George Washington University,https://www.gwu.edu/sites/g/files/zaxdzs5066/f...,59870.0,Washington DC 20052,0.0
316,University of Louisville,https://louisville.edu/admissions/images/virtu...,12370.0,Louisville KY 40292-0001,0.0
317,Baylor University,https://apply-baylor-edu.cdn.technolutions.net...,50232.0,Waco TX 76798,0.0
318,Oregon State University,https://i0.wp.com/ecampus.oregonstate.edu/news...,12188.0,Corvallis OR 97331,0.0
319,Temple University,https://news.temple.edu/sites/news/files/style...,17378.0,Philadelphia PA 19122-6096,0.0

In [51]:
merged_df.to_json('../data/schoolSchema.json',index=False,orient='records')
# merged_df.to_csv('../data/schoolSchema.csv',index=False)

In [11]:
merged_df = pd.read_csv('../data/schoolSchema.json')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 3, saw 2

In [5]:
merged_df.head()

Empty DataFrame
Columns: [[{"title":"Bais Binyomin Academy", image:"https://www.appily.com/themes/custom/fingerprint/images/cappex_stockhero_background.jpg?updated=091019", tuition:10050.0, location:"Monsey NY 10952", rating:0.0}, {"title":"Vaughn College of Aeronautics and Technology", image:"https://www.vaughn.edu/wp-content/uploads/2020/09/Vaughn-College-FBOG.jpg", tuition:26150.0, location:"Flushing NY 11369", rating:0.0}.1, {"title":"Adelphi University", image:"https://www.adelphi.edu/about/wp-content/uploads/sites/28/2020/06/April2020Campus-95475.jpg", tuition:42475.0, location:"Garden City NY 11530-0701", rating:0.0}.2, {"title":"SUNY Adirondack", image:"https://www.sunyacc.edu/sites/default/files/NSTEM.CON_188_1.jpg", tuition:5784.0, location:"Queensbury NY 12804", rating:0.0}.3, {"title":"Bryant & Stratton College-Albany", image:"https://www.bryantstratton.edu/~/media/images/locations/tablet-locations-albany-campus768.ashx", tuition:18356.0, location:"Albany NY 12205", rating:0.0}.4, {"title":"Albany College of Pharmacy and Health Sciences", image:"https://www.acphs.edu/sites/default/files/ACPHS%20Campus%20Map_11-10-22.jpg", tuition:37115.0, location:"Albany NY 12208-3492", rating:0.0}.5, {"title":"Alfred University", image:"https://www.alfred.edu/_images/brandpillar11.jpg", tuition:33864.0, location:"Alfred NY 14802-1205", rating:0.0}.6, {"title":"The Ailey School", image:"https://www.dancemagazine.com/wp-content/uploads/2023/10/Students-from-The-Ailey-School.-Photo-by-Nir-Arieli_-scaled.jpg", tuition:13789.0, location:"New York NY 10019-4402", rating:0.0}.7, {"title":"American Academy of Dramatic Arts-New York", image:"https://upload.wikimedia.org/wikipedia/commons/c/c4/AADA_at_the_Colony_Club.jpg", tuition:37230.0, location:"New York NY 10016", rating:0.0}.8, {"title":"American Academy McAllister Institute of Funeral Service", image:"https://sonis.funeraleducation.org/Images/Index_Images/index_photo.jpg", tuition:18292.0, location:"New York NY 10036", rating:0.0}.9, {"title":"Joffrey Ballet School", image:"https://www.joffreyballetschool.com/wp-content/uploads/2020/11/studio3-pano-11in.jpg", tuition:21500.0, location:"New York NY 10011", rating:0.0}.10, {"title":"American Musical and Dramatic Academy", image:"https://upload.wikimedia.org/wikipedia/commons/9/9d/American_Musical_and_Dramatic_Academy.jpg", tuition:42960.0, location:"New York NY 10023", rating:0.0}.11, {"title":"Associated Beth Rivkah Schools", image:"https://www.appily.com/themes/custom/fingerprint/images/cappex_stockhero_background.jpg?updated=091019".1, tuition:8000.0, location:"Brooklyn NY 11225-0000", rating:0.0}.12, {"title":"Bard College", image:"https://greatruns.com/wp-content/uploads/2019/08/Bard-College-Campus.jpg", tuition:57968.0, location:"Annandale-On-Hudson NY 12504-5000", rating:0.0}.13, {"title":"Barnard College", image:"https://static01.nyt.com/images/2024/02/29/multimedia/29barnard-01-gcbf/29barnard-01-gcbf-videoSixteenByNine3000.jpg", tuition:59687.0, location:"New York NY 10027-6598", rating:0.0}.14, {"title":"Berkeley College-New York", image:"https://berkeleycollege.edu/images/veterans-day-parade-bts.jpg", tuition:27600.0, location:"New York NY 10017", rating:0.0}.15, {"title":"Beth Hamedrash Shaarei Yosher Institute", image:"https://dzhhw2kso6jlo.cloudfront.net/chart-images/v1/beth-hamedrash-shaarei-yosher-institute/student-life/chart-living-arrangement_xl.png", tuition:11000.0, location:"Brooklyn NY 11204", rating:0.0}.16, {"title":"Boricua College", image:"https://images.squarespace-cdn.com/content/v1/613a46ad12d3b04cb596e709/c889a987-15ec-4452-ae5b-a5b0fe65ceb7/BORICUA_BLUE_LOGO.png", tuition:11025.0, location:"New York NY 10032-1560", rating:0.0}.17, {"title":"SUNY Broome Community College", image:"https://www2.sunybroome.edu/dos/wp-content/uploads/sites/6/2015/08/2013.11.27-SUNY-BROOME-B-300x225-300x225.jpg", tuition:6332.0, location:"Binghamton NY 13901-1001", rating:0.0}.18, {"title":"Bryant & Stratton College-Syracuse North", image:"https://www.bryantstratton.edu/~/media/news/103011.ashx?la=en&hash=3B7C64F453C5B0D5F46667005540C3CA8D4F7E1D", tuition:18170.0, location:"Liverpool NY 13090", rating:0.0}.19, ...]
Index: []

[0 rows x 1556 columns]