In [25]:
import pandas as pd 
import numpy as np

In [26]:
df = pd.read_csv('../data/schoolSchema.csv')

In [27]:
df.shape
#df.drop('Unnamed: 0',axis=1,inplace=True)

(3787, 5)

In [28]:
df.head()

,title,tuition,location,image,rating
0,Alabama A & M University,10024.0,Normal AL 35762,NaN,0
1,University of Alabama at Birmingham,8568.0,Birmingham AL 35294-0110,NaN,0
2,University of Alabama in Huntsville,11488.0,Huntsville AL 35899,NaN,0
3,Alabama State University,11068.0,Montgomery AL 36104-0271,NaN,0
4,The University of Alabama,11620.0,Tuscaloosa AL 35487-0100,NaN,0

In [29]:
#Now fill with images that are == NaN that we have in our names.csv
imageDF = pd.read_csv('../image/names.csv')

In [31]:
imageDF[:-5]

,title,image
0,Bais Binyomin Academy,https://www.appily.com/themes/custom/fingerpri...
1,Vaughn College of Aeronautics and Technology,https://www.vaughn.edu/wp-content/uploads/2020...
2,Adelphi University,https://www.adelphi.edu/about/wp-content/uploa...
3,SUNY Adirondack,https://www.sunyacc.edu/sites/default/files/NS...
4,Bryant & Stratton College-Albany,https://www.bryantstratton.edu/~/media/images/...
...,...,...
208,Wagner College,http://wagner.edu/about/wp-content/blogs.dir/5...
209,Webb Institute,https://upload.wikimedia.org/wikipedia/commons...
210,Wells College,https://hems-assets.princetonreview.com/images...
211,The College of Westchester,https://upload.wikimedia.org/wikipedia/commons...
212,SUNY Westchester Community College,https://www.sunywcc.edu/cms/wp-content/uploads...

In [40]:
merged_df = pd.merge(imageDF, df, on='title', how='left')
#left join to keep our current schema

# merged_df['image_x'] = merged_df['image_y']

merged_df.drop('image_y',axis=1,inplace=True)

merged_df = merged_df.rename(columns={'image_x': 'image'})

In [41]:
merged_df.shape

(221, 5)

In [42]:
merged_df[:-1]

,title,image,tuition,location,rating
0,Bais Binyomin Academy,https://www.appily.com/themes/custom/fingerpri...,10050.0,Monsey NY 10952,0
1,Vaughn College of Aeronautics and Technology,https://www.vaughn.edu/wp-content/uploads/2020...,26150.0,Flushing NY 11369,0
2,Adelphi University,https://www.adelphi.edu/about/wp-content/uploa...,42475.0,Garden City NY 11530-0701,0
3,SUNY Adirondack,https://www.sunyacc.edu/sites/default/files/NS...,5784.0,Queensbury NY 12804,0
4,Bryant & Stratton College-Albany,https://www.bryantstratton.edu/~/media/images/...,18356.0,Albany NY 12205,0
...,...,...,...,...,...
215,SUNY Westchester Community College,https://www.sunywcc.edu/cms/wp-content/uploads...,5374.0,Valhalla NY 10595,0
216,Word of Life Bible Institute,https://kimmel-bogrette.com/wp-content/uploads...,11204.0,Pottersville NY 12860-0129,0
217,Yeshiva Karlin Stolin,https://www.unigo.com/wp-content/uploads/2020/...,11800.0,Brooklyn NY 11204-1545,0
218,Yeshiva Derech Chaim,https://collegesimply.imgix.net/bg/bg-students...,12100.0,Brooklyn NY 11218-0000,0
219,Yeshiva of Nitra Rabbinical College,https://s3-us-west-2.amazonaws.com/itk-assets/...,12750.0,Chester NY 10918,0

In [43]:
merged_df.to_json('../data/schoolSchema.json',index=False,orient='records')
# merged_df.to_csv('../data/schoolSchema.csv',index=False)